body {
  max-width: 1200px;
  min-width: 800px;
  margin-left: calc(50% - 1000px);
  margin-right: auto;
}


.container {
  position: absolute;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  justify-items: center;
}

.nav {
  width: 1000px;
  height: 100px;
  background-color: rgb(165, 165, 165);
  border-radius: 20px;
  display: flex;
  margin-top: 30px;
  justify-content: center;
  align-items: center;

  box-shadow: 1px 10px 10px 1px rgba(0, 0, 0, 0.4);

}

.detail {

  margin-left: 100px;
  font-weight: 400;
  font-size: 20px;
}

.title {
  font-weight: 400;
  font-size: 20px;
}


.addButton {
  margin-left: 150px;
  width: 100px;
  height: 50px;
  font-size: 20px;
  border-radius: 10px;
  border: none;
  font-size: 22px;
  font-weight: 800;
  cursor: pointer;
}


.titlebox,
.detailbox {
  border-radius: 30px;
  width: 200px;
  height: 30px;
  outline: none;
  border: none;

}

.workingsection {
  justify-items: center;
  width: 2000px;
  display: grid;
  grid-template-rows: repeat(8);
  grid-template-columns: repeat(3, 1fr);
  padding: 10px;
  box-sizing: border-box;
}


.donesection {
  justify-items: center;
  width: 2000px;
  display: grid;
  padding: 10px;
  box-sizing: border-box;
  grid-template-rows: repeat(8);
  grid-template-columns: repeat(3, 1fr);
}

.cards {
  width: 500px;
  height: 400px;
  background-color: rgb(165, 165, 165);
  margin: 10px 10px;
  display: block;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  margin-left: 10px;
  position: relative;
  margin-top: 100px;
  border: 4px solid rgb(190, 190, 255);
}



.cardstitle {
  padding: 40px;
  position: absolute;
  top: 15px;
  font-weight: 800;
  font-size: 25px;
  word-break: break-all;
}

.cardsdetail {
  padding: 40px;
  word-break: break-all;
  font-size: 15px;
  font-weight: 800;
  margin-top: 40px;
  display: block;
  position: absolute;
  top: 80px;
}

.delete {
  width: 80px;
  height: 40px;
  position: absolute;
  left: 40px;
  border-radius: 10px;
  bottom: 30px;
  outline: none;
  cursor: pointer;
  background-color: #ffa4a4;
  font-weight: 800;
  font-size: 15px;
  border: 4px solid rgb(190, 190, 255);
}


.done {
  width: 80px;
  height: 40px;
  position: absolute;
  margin-left: 0px;
  right: 40px;
  border-radius: 10px;
  bottom: 30px;
  outline: none;
  cursor: pointer;
  background-color: rgb(210, 232, 252);
  font-weight: 800;
  font-size: 15px;
  border: 4px solid rgb(190, 190, 255);
}


p {

  font-weight: 800;
  font-size: 60px;
}